body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
    font-family: 'Kreon', serif;
    font-weight: 700; 
}

.navH {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: rgba(67, 135, 255, 1);
}

.inlineContainer {
    display: flex; 
    align-items: center; 
    gap: 10px;
    width: 100%;
    position: fixed; 
    top: 0; 
    background-color: #000; 
    z-index: 1000; 
    padding: 10px 0; 
}

.logoContainer {
    margin-right: auto;
    margin-left: 20px;
}
